.navbar-nav {
    font-family: 'Impact';
    font-size: large;
}

.site{
    font-family: 'Impact';
    font-size: large;
    text-decoration: underline
}

.col1{
    text-align:left;
}

body{ 
    background-color: black;
}

html {
    scroll-behavior: smooth;
  }

.site-font{
    font-family: 'Impact';
    font-size: large;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background: #dddd;
}

::-webkit-scrollbar-thumb{
    background: #e74c3c;
}