.navbar-nav {
    font-family: 'Impact';
    font-size: large;
}

.site{
    font-family: 'Impact';
    font-size: large;
    text-decoration: underline
}

.col1{
    text-align:left;
}

body{ 
    background-color: black;
}

html {
    scroll-behavior: smooth;
  }